[user]
	name = Mark Palmeri
	email = mlp6@duke.edu
	signingkey = B5F1372F
[alias]
	co = checkout
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[svn]
	rmdir = true
[core]
	editor = vim
	autocrlf = input
	preloadindex = true
    fileMode = false
[merge]
	tool = vimdiff
[color]
	status = auto
	branch = auto
	interactive = auto
	diff = auto
	ui = auto
[push]
	default = simple
